.btn_container {
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
}

.btn_container .edit,
.btn_container .trash {
  display: flex;
  gap: 0.2rem;
  cursor: pointer;
  align-items: center;
  border-radius: 0.25rem;
  padding: 0.2rem;
  border-style: none;
  background: rgb(255, 255, 186);
  font-size: 1rem;
  color: rgb(0, 0, 0);
  transition: 0.5s;
}

.btn_container .edit:hover,
.btn_container .trash:hover {
  background: rgb(0, 0, 0);
  color: var(--orange-hover);
}
