.wellcome h3 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.wellcome span {
  background: var(--background);
  color: var(--orange-hover);
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 0.25rem;
}

.wellcome p {
  color: var(--gray);
  margin-bottom: 2rem;
}

.main_home {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.main_home .bg_img img {
  margin-bottom: 5rem;
  width: 21.875rem;
}
