.container {
  display: flex;
}

.bg {
  justify-content: center;
  text-align: center;
  position: relative;
  flex: 1 0 auto;
  padding: 2rem 5rem 2rem 5rem;
  background: var(--text-color);
}

.start {
  justify-content: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.center {
  justify-content: center;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
}
