.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background);
  color: white;
  padding: 2rem 5rem 2rem 5rem;
}

.contacts {
  display: flex;
  gap: 1.5rem;
  color: white;
}

.contacts p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
}

.contacts .icon {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.contacts .icon:hover {
  color: var(--orange-hover);
}

.copyright a {
  text-decoration: none;
  color: var(--text-color);
}

.copyright span {
  color: var(--orange-hover);
}
