.button {
  background: var(--background);
  color: var(--text-color);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: 0.5s;
}

.button:hover {
  color: rgb(255, 185, 56);
  background: rgb(58, 58, 58);
}
